.col-sm-8 {padding-right: 30px; padding-bottom: 90px;}
.navbar {background-color: #343a40 !important;}
.alert p {margin: 0px; padding: 0px; color: #c11c2d;}

.flex-column h5 {margin-top: 30px;}

footer {
  font-size: 80%;
  padding-top: 20px; 
  background-color: #ebebeb;
  text-align: center;
}

h2 {margin-bottom: 40px;}

.highlight {color: #800000;}

a {text-decoration: none;}
a:hover {text-decoration: underline !important; --bs-link-underline-opacity: 0 !important;}
.navbar a {text-decoration: none !important;}

.btn-block, .btn-primary, .badge-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.table.big thead th {
        font-size: 0.8rem;
        padding: .40rem;
}

/*
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {margin-bottom: 10px;}
.my-input, input[type="text"] { 
	border: 1px solid #ced4da;
	border-radius: .25rem;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 10px;
}
.my-select {
	padding: .1rem .1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
td input[type="radio"] {
	margin-left: 5px;
	margin-right: 5px;
}
.d-flex div {
	padding: .75rem 1.25rem;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.material-icons {
	color:#555;
	vertical-align:middle;
}
*/
